 .container{
    max-width: 960px;
    display: grid; 
    grid-template-columns: repeat(4,auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
 } 
 .cell{
   height: 130px;
   border-radius: 4px;
 }
 .cell{
    position: relative;
    cursor: pointer;
 }
 body{
    background-color: purple;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .front{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
    border-radius: 10px;
 }
 .head{
    max-width: 480px;
    border: 2px solid grey;
    margin: auto ;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-sizing: border-box;
 }
.back{
    width: 250px;
    height: 134px;
    background-color: black;
    border-radius: 10px;
}
.score{
margin-top: 10px;
}
*{
    font-family: 'Dosis', sans-serif;
}

.flip{
    transform: rotate(0deg);
}
.match{
    transform: rotate(0deg);
}

.show{
    transform: rotateY(90deg);
}


